body,html {
    background-color: white;
    height:150%;
    
}

.gabe {
	
    color: rgba(0, 0, 0, 1.0);
	font: 50px 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 400;
	position: fixed;
	left:5%;
	margin-top: 15px;
}

.arrow {
    width: 19px;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    opacity: .3;
	top: 550px;
}

#line {
	position: static;
	bottom: 10px;
	box-shadow: 0 6px 1px #ffffff;
	opacity: 0.45;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}


#KanyeZone {
	color: #4c1d1d;
	width: 94%;
	height: 900px;
	top: 460px;
	left: 3%;
	margin-top: 35px;
	position: absolute;
	background-color: #ffffff;
}

.date {
	
    font: 15px "Avenir Next";
	font-weight: 350;
	position: absolute;
	color: #000000;
}

.title {

	font: 20px "Avenir Next";
	font-weight: 600;
	position: absolute;
	left: 100px;
	top: -4px;
	color: #000000;
}

p.entry {
	
    font: 15px/24px "Avenir Next";
	position: relative;
	top: 50px;
	width: 85%;
	left: 100px;
	color: #494949;
}

.screens {
	width: 650px;
	position: relative;
	top: 90px;
	margin-right: auto;
	margin-left: auto;
	left: -75px;
}


img.screen1 {
	position: relative;
	left: 70px;
}

img.screen2 {
	position: relative;
	left: 130px;
}

#GroupMe {
	color: #4c1d1d;
	width: 94%;
	height: 600px;
	top: 1335px;
	left: 3%;
	margin-top: 35px;
	position: absolute;
	background-color: #ffffff;
}

#Marko {
	color: #4c1d1d;
	width: 94%;
	height: 600px;
	top: 2200px;
	left: 3%;
	margin-top: 35px;
	position: absolute;
	background-color: #ffffff;
}

#GJP {
	color: #4c1d1d;
	width: 94%;
	height: 600px;
	top: 3100px;
	left: 3%;
	margin-top: 35px;
	position: absolute;
	background-color: #ffffff;
}

#Video {
	color: #4c1d1d;
	width: 94%;
	height: 600px;
	top: 4000px;
	left: 3%;
	margin-top: 35px;
	position: absolute;
	background-color: #ffffff;
}

.large{

	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: 50px;
	margin-top: -20px;
}

.videoWrapper1 {
  	text-align:center;
	padding-top: 55px;
}
.videoWrapper2 {
  	text-align:center;
	padding-top: 25px;
}
.videoWrapper3 {
  	text-align:center;
	padding-top: 25px;
}

#footer {
	text-align: center;
	font: 15px "Avenir Next";
	position: relative;
	top: 5500px;
	color: #a0a0a0;
	padding-bottom: 40px;
}


a:link {

	text-decoration: none;
    color: #878787;
}

/* mouse over link */
a:hover {
    color: #878787;
	text-decoration: underline;
}

/* visited link */
a:visited {
    color: #878787;
	text-decoration: none;
}

/* selected link */
a:active {
    color: #878787;
}