body,html {
    background-color: white;
    height:100%;
    
}

.gabe {
	
    color: rgba(0, 0, 0, 1.0);
	text-align: center;
	font: 75px 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 400;
	position: fixed;
	left: 50%;
	margin-top: 180px;
	margin-left:-205px;
}

.bio {
	
    color: rgba(0, 0, 0, 1.0);
	text-align: center;
	font: 30px 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 400;
	position: fixed;
	left: 50%;
	margin-top: 265px;
	margin-left:33px;
}
.dot {
	
    color: rgba(0, 0, 0, 1.0);
	text-align: center;
	font: 35px 'Helvetica Neue Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 400;
	position: fixed;
	left: 50%;
	margin-top: 263px;
	margin-left:-2px;
}
.resume {
	
    color: rgba(0, 0, 0, 1.0);
	text-align: center;
	font: 30px 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 400;
	position: fixed;
	left: 50%;
	margin-top: 265px;
	margin-left:-125px;
}

.title {

	font: 20px "Avenir Next";
	font-weight: 600;
	position: absolute;
	left: 100px;
	top: -4px;
	color: #000000;
}

p.entry {
	
    font: 15px/24px "Avenir Next";
	position: relative;
	top: 50px;
	width: 85%;
	left: 100px;
	color: #494949;
}

.biopic{
	
	
}

a:link {

	text-decoration: none;
    color: #878787;
}

/* mouse over link */
a:hover {
    color: #878787;
	text-decoration: underline;
}

/* visited link */
a:visited {
    color: #878787;
	text-decoration: none;
}

/* selected link */
a:active {
    color: #878787;
}